#tabla_general {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#tabla_general td, #tabla_general th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#tabla_general tr:nth-child(even) {
    background-color: #dddddd;
}

*{
    margin: 0px;
    padding: 0px;

}
#titulo{
    background-color: darkred;
    padding: 5px;
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-family: quicksand,sans-serif;
}
#buscador{
    background-color: ghostwhite;
    padding: 5px;
    width: 100%;
    height: 150px;
    text-align: center;
    font-family: quicksand,sans-serif;
}
#resultados{
    padding: 30px;
    width: 100%;
    height: 100px;
    text-align: center;
    color: black;
    font-family: quicksand,sans-serif;
}
#nombre{
    margin: 20px;
}